<a href="https://colab.research.google.com/github/cli103/hate-crimes-us-incidents/blob/main/mini_project_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Libraries

In [ ]:
#data analysis
import pandas as pd

In [ ]:
#data visualisations
import matplotlib.pyplot as plt
import plotly.express as px

In [ ]:
#download files to computer
from google.colab import files

# Import Data

In [ ]:
# import data from Github
df=pd.read_csv("https://raw.githubusercontent.com/cli103/hate-crimes-us-incidents/main/Hate%20Crimes%20Incidents.csv")

In [ ]:
df.head()

                        Table 1   Unnamed: 1  ...  Unnamed: 4  Unnamed: 5
0                      Incidents         NaN  ...         NaN         NaN
1  by Bias Motivation, 2015-2019         NaN  ...         NaN         NaN
2                            NaN      2015.0  ...      2018.0      2019.0
3                          Total      5850.0  ...      7120.0      7314.0
4          Single-Bias Incidents      5818.0  ...      7036.0      7103.0

[5 rows x 6 columns]

#Cleaning Data

In [ ]:
#removing rows of data
df1 = df.head(4)
df2 = df1.tail(1)

In [ ]:
df2

  Table 1   Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5
3    Total      5850.0      6121.0      7175.0      7120.0      7314.0

In [ ]:
#renaming columns
df2.columns = ["Table 1","2015","2016","2017","2018","2019"]

In [ ]:
df2

  Table 1    2015    2016    2017    2018    2019
3   Total  5850.0  6121.0  7175.0  7120.0  7314.0

In [ ]:
#transforming the table
# listing data
data = [['2015', 5850], ['2016', 6121], ['2017', 7175], ['2018',7120],['2019',7314]]
  
# Create the pandas DataFrame
df3 = pd.DataFrame(data, columns = ['Year', 'Total Incidents'])

In [ ]:
df3

   Year  Total Incidents
0  2015             5850
1  2016             6121
2  2017             7175
3  2018             7120
4  2019             7314

# Data Visualisation Plotly

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             5 non-null      object
 1   Total Incidents  5 non-null      int64
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

In [ ]:
df3["Year"] = df3["Year"].astype(int)

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             5 non-null      int64
 1   Total Incidents  5 non-null      int64
dtypes: int64(2)
memory usage: 208.0 bytes

In [ ]:
# make scatterplot in plotly express
fig = px.scatter(df3, x= "Year", 
                 y="Total Incidents", 
                 trendline="ols", 
                 title = "Incidents of Hate Crime in US between 2015-2019")

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning:

pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.

In [ ]:
fig

In [ ]:
#trendline equation: y = 392.7 * Year -785359.9
# save as html file
fig.write_html("plotly_scatter_salary.html")

In [ ]:
#download from google
files.download("plotly_scatter_salary.html")